# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Anders Bälter
	email = anders@84codes.com
	signingkey = FF143F4E6E352BB1
[difftool]
	prompt = false
[core]
	editor = vim
	excludesfile = /home/anders/.gitignore_global
	attributesfile = /home/anders/.gitattributes
	pager = less -FRX
[rerere]
	enabled = 1
[credential]
	helper = store
[merge]
	tool = meld
[diff]
  tool = /usr/bin/meld
	wsErrorHighlight = all
[mergetool]
	prompt = false
	keepBackup = false
[merge "keepMine"]
	name = always keep mine during merge
	driver = keepMine.sh %O %A %B
[alias]
	prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d
[pull]
	rebase = true
[commit]
	verbose = true
[rebase]
	autostash = true
[push]
	default = current
	followTags = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
[advice]
	skippedCherryPicks = false
[checkout]
	defaultRemote = origin
